<!DOCTYPE html>
<html lang="en">
<title>ShipAndSkip</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class='navbar-brand ml-2' href='#'>
            <img src="../iconSkipSmall.png" class="img-fluid w-25" alt="Logo">
            ShipAndSkip
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link mr-4" href="/Home.html"><h3>Home</h3> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mr-4">
              <a class="nav-link" href="/profile.html"><h3>Profile</h3></a>
            </li>
            <li class="nav-item active mr-4">
                <a class="nav-link" href="/cart.html"><h3>Cart</h3></a>
              </li>
            <li class="nav-item active mr-4">
                <a class="nav-link" href="/order.html"><h3>Order</h3></a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="username" placeholder="Username" aria-label="Username">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="Login">Login</button>
          </form>
        </div>
    </nav>